<div class="box"
     [class.box-info]="account.status == clientAccountStatuses.Active"
     [class.box-danger]="account.status == clientAccountStatuses.Disabled"
     [class.box-warning]="account.status == clientAccountStatuses.Pending">
    <div class="box-header">
        <span class="glyphicon glyphicon-folder-open"></span>
        <span><a href="javascript:void(0)"></a>{{account.email}}</span>
    </div>

    <div class="box-body">
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th>Nickname</th>
                <td>
                    <a href="javascript:void(0);">{{account.nickname}}</a>
                </td>
            </tr>
            <tr>
                <th>Joined</th>
                <td>{{clientTimeService.findUnixTime(account.joined).toUTCString()}}</td>
            </tr>
            <tr>
                <th>Last modified</th>
                <td>
                    <span *ngIf="account.lastModified != null">{{_timeService.findUnixTime(account.lastModified).toUTCString()}}</span>
                    <span *ngIf="account.lastModified == null">---</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="box-footer">
        <button class="btn btn-info btn-flat col-lg-12 col-md-12 col-sm-12 col-xs-12"
                (click)="changeAccountInfo(account)">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </div>
</div>
