
<!-- Main row -->
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">

            <div class="box-header">
                <span class="glyphicon glyphicon-search"></span>
                <span> Category search</span>

                <button type="button"
                        class="btn btn-box-tool pull-right"
                        data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>

            <div class="box-body">

                <div class="col-lg-6">

                    <!-- Creators -->
                    <div class="form-group">
                        <label>Creators</label>
                        <input class="form-control"
                               placeholder="Creators"
                               value="Person A, Person B"/>
                    </div>

                    <!-- Name -->
                    <div class="form-group">
                        <label>Name</label>
                        <select class="form-control"
                                placeholder="Name">
                            <option value="0">Disabled</option>
                            <option value="1">Pending</option>
                            <option value="2">Active</option>
                        </select>
                    </div>

                </div>


                <div class="col-lg-6">

                    <!-- Created -->
                    <div class="form-group">
                        <label>Created</label>
                        <input class="form-control"
                               type="date"/>
                    </div>

                    <!-- Last modified -->
                    <div class="form-group">

                        <label>Last modified</label>

                        <input class="form-control"
                               type="date"/>

                    </div>
                </div>
            </div>

            <div class="box-footer">
                <button class="btn btn-primary btn-flat">
                    <span class="glyphicon glyphicon-search"></span>
                    <span>Search</span>
                </button>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="box box-info">
            <div class="box-header">
                <span class="glyphicon glyphicon-folder-open"></span>
                <span>
                                <a href="javascript:void(0)">Category name</a>
                            </span>
            </div>

            <div class="box-body">
                <table class="table table-responsive">
                    <tbody>
                    <tr>
                        <th>Creator</th>
                        <td>
                            <a href="javascript:void(0);">Nguyen Duy Linh</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Created</th>
                        <td>1/1/1970</td>
                    </tr>
                    <tr>
                        <th>Last modified</th>
                        <td>1/1/1980</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-footer">
                <button class="btn btn-danger btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-info btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                        data-toggle="modal"
                        data-target="#modalEditCategory">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="text-center">
        <ul class="pagination">
            <li><a href="javascript:void(0);"><<</a></li>
            <li><a href="javascript:void(0);"><</a></li>
            <li class="active"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">></a></li>
            <li><a href="javascript:void(0);">>></a></li>
        </ul>
    </div>
</div>

<div id="modalEditCategory"
     class="modal fade"
     role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <span class="glyphicon glyphicon-edit"></span>
                <span>Edit a category</span>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control"
                           value="Category name"
                           placeholder="Original category name"/>
                </div>
                <div class="form-group">
                    <label>Creator</label>
                    <div class="form-control"
                         value="Category name">
                        <span>Original creator name</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <div class="text-center">
                    <button type="button"
                            class="btn btn-primary btn-flat"
                            data-dismiss="modal">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>

                    <button type="button"
                            class="btn btn-default btn-flat"
                            data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>