<!-- Main row -->
<div class="row">
    <div class="col-lg-12">
        <form name="categorySearchBox"
              class="box box-default"
              novalidate
              (submit)="clickSearch()">
            <div class="box-header with-border">
                <span>
                    <b class="glyphicon glyphicon-search" aria-hidden="true"></b> Search categories
                </span>
                <button type="button"
                        class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <!-- Category information find box -->
                <category-search-box #categoryFindBox
                                     [conditions]="conditions">
                </category-search-box>
            </div>
            <div class="box-footer">
                <div class="text-center">
                    <button class="btn btn-primary btn-flat">
                        <span>Search</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- List of categories -->
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="isBusy">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-header">
                <span class="fa fa-folder"></span> <span>Categories</span>
                <button type="button"
                        class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <div class="btn-group pull-right">
                    <button type="button"
                            class="btn btn-box-tool dropdown-toggle"
                            data-toggle="dropdown"
                            aria-expanded="true">
                        <i class="fa fa-wrench"></i>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li (click)="clickInitiateCategory()">
                            <a href="javascript:void(0);">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Create a category
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="box-body"
                 style="overflow-x: auto">
                <table class="table table-responsive table-condensed">
                    <thead>
                    <tr>
                        <th class="text-center">Category name</th>
                        <th class="text-center">Creator</th>
                        <th class="text-center">Created</th>
                        <th class="text-center">Last modified</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let category of searchResult.records; let i = index">
                        <td class="text-center">{{category.name}}</td>
                        <td class="text-center">{{category.creator.nickname}}</td>
                        <td class="text-center">
                            <span>{{ clientTimeService.getUtc(category.created) | amDateFormat: 'YYYY-MM-DD'}}</span>
                        </td>
                        <td class="text-center">
                            <span *ngIf="category.lastModified != null">
                                {{ clientTimeService.getUtc(category.lastModified) | amDateFormat: 'YYYY-MM-DD'}}
                            </span>
                            <span *ngIf="category.lastModified == null">---</span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-danger btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    (click)="clickRemoveCategory(category)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                            <button class="btn btn-info btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    (click)="clickChangeCategoryDetail(category)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-footer">
                <div class="col-lg-12">
                    <div class="text-center">
                        <ngx-numeric-paginator [options]="clientCommonService.getPaginationOptions()"
                                               [page]="conditions.pagination.page"
                                               [total-items]="searchResult.total"
                                               (select-page)="selectPage($event)">
                        </ngx-numeric-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete category confirm box -->
<div bsModal
     #deleteCategoryModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="box box-danger">
                <div class="box-body">
                    <category-delete-box #categoryDeleteBox="category-delete-box"></category-delete-box>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button class="btn btn-danger btn-flat"
                                (click)="clickConfirmDeleteCategory()">
                            <span class="fa fa-check"></span>
                        </button>
                        <button class="btn btn-default btn-flat"
                                (click)="deleteCategoryModal.hide()">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Change category information modal dialog -->
<div bsModal
     #categoryDetailModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     [config]="{backdrop: 'static', keyboard: false}">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box box-default">
                <div class="box-header">
                    <b class="fa fa-folder"></b> <span>Change category detail</span>
                </div>
                <div class="box-body">
                    <category-detail-box #categoryDetailBox="category-detail-box"></category-detail-box>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button class="btn btn-primary btn-flat" (click)="clickConfirmChangeCategoryDetail()">
                            <span class="fa fa-check"></span>
                        </button>
                        <button class="btn btn-default btn-flat"
                                (click)="categoryDetailModal.hide()">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Initiate category information modal dialog -->
<div bsModal
     #initiateCategoryInfoModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     [config]="{backdrop: 'static', keyboard: false}">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="box box-default">
                <div class="box-header">
                    <b class="fa fa-folder"></b> <span>Create a category</span>
                </div>
                <div class="box-body">
                    <category-initiate-box #categoryInitiatorContent="category-initiate-box"></category-initiate-box>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button class="btn btn-primary btn-flat"
                                [disabled]="!categoryInitiatorContent.getForm().valid"
                                (click)="clickConfirmInitiateCategory()">
                            <span class="fa fa-check"></span>
                        </button>
                        <button class="btn btn-primary btn-flat"
                                (click)="initiateCategoryInfoModal.hide()">
                            <span class="fa fa-times"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>