<!-- Main row -->
<div class="row">
    <div class="col-lg-12">

        <!-- Category information find box -->
        <category-find-box #categoryFindBox
                           [isLoading]="isLoading"
                           [conditions]="findCategoriesViewModel"
                           (search)="clickSearch()"></category-find-box>
    </div>
</div>

<!-- Create category button -->
<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <button class="btn btn-default btn-flat btn-block"
                    (click)="initiateCategoryInfoModal.show()"
                    *ngIf="!_isLoading">
                <span class="fa fa-plus"></span>
                <span>Create category</span>
            </button>
        </div>
    </div>
</div>


<!-- Pagination section -->
<div class="row"
     *ngIf="(categorySearchResult != null && categorySearchResult.total > 0 && !_isLoading)">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="categorySearchResult.total"
                        [itemsPerPage]="findCategoriesViewModel.pagination.records"
                        [(ngModel)]="findCategoriesViewModel.pagination.page"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"></pagination>
        </div>
    </div>
</div>

<!-- List of categories -->
<div class="row"
     *ngIf="(categorySearchResult != null && categorySearchResult.total > 0 && !_isLoading)">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="_isLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-body"
                 style="overflow-x: auto">
                <table class="table table-responsive table-condensed">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Category name</th>
                        <th>Creator</th>
                        <th>Created</th>
                        <th>Last modified</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let category of categorySearchResult.categories; let i = index">
                        <td></td>
                        <td>{{category.name}}</td>
                        <td>{{category.creator.nickname}}</td>
                        <td>{{clientTimeService.getUtc(category.created).toUTCString()}}</td>
                        <td>
                            <span *ngIf="category.lastModified != null">{{clientTimeService.getUtc(category.lastModified).toUTCString()}}</span>
                            <span *ngIf="category.lastModified == null">---</span>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    (click)="clickRemoveCategory(category, deleteCategoryConfirmModal)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>

                            <button class="btn btn-info btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                    (click)="clickChangeCategoryDetail(category, changeCategoryInfoModal)">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- Pagination section -->
<div class="row"
     *ngIf="(categorySearchResult != null && categorySearchResult.total > 0 && !_isLoading)">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="categorySearchResult.total"
                        [itemsPerPage]="findCategoriesViewModel.pagination.records"
                        [(ngModel)]="findCategoriesViewModel.pagination.page"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"></pagination>
        </div>
    </div>
</div>

<!-- Delete category confirm box -->
<div bsModal
     #deleteCategoryConfirmModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     (onHide)="_selectCategoryDetail = null">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <span *ngIf="_selectCategoryDetail != null">
                        Are you sure to delete <b class="text-danger">{{_selectCategoryDetail.name}}</b>  ?
                    </span>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-flat btn-danger"
                            (click)="clickConfirmDeleteCategory(deleteCategoryConfirmModal)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Change category information modal dialog -->
<div bsModal
     #changeCategoryInfoModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     (onHide)="selectCategoryDetail = null">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Change category detail information</span>
            </div>
            <div class="modal-body"
                 *ngIf="selectCategoryDetail != null">
                <div class="form-group">
                    <label>Category name</label>
                    <input class="form-control"
                           [(ngModel)]="selectCategoryDetail.name"/>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-flat btn-primary"
                            (click)="clickConfirmChangeCategoryDetail(changeCategoryInfoModal)">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Initiate category information modal dialog -->
<div bsModal
     #initiateCategoryInfoModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <category-initiate-box (initiateCategory)="clickInitiateCategory($event, initiateCategoryInfoModal)"
                                   [isLoading]="isLoading"></category-initiate-box>
        </div>
    </div>
</div>