<div class="box box-info">
    <div class="box-header">
        <span class="glyphicon glyphicon-folder-open"></span>
        <span><a href="javascript:void(0)"></a>{{category.name}}</span>
    </div>

    <div class="box-body">
        <table class="table table-responsive">
            <tbody>
            <tr>
                <th>Creator</th>
                <td>
                    <a href="javascript:void(0);">{{category.creator.nickname}}</a>
                </td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{_timeService.findUnixTime(category.created).toUTCString()}}</td>
            </tr>
            <tr>
                <th>Last modified</th>
                <td>
                    <span *ngIf="category.lastModified != null">{{_timeService.findUnixTime(category.lastModified).toUTCString()}}</span>
                    <span *ngIf="category.lastModified == null">---</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="box-footer">
        <button class="btn btn-danger btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                (click)="deleteCategory(category)">
            <span class="glyphicon glyphicon-trash"></span>
        </button>

        <button class="btn btn-info btn-flat col-lg-6 col-md-6 col-sm-6 col-xs-12"
                (click)="changeCategoryInfo(category)">
            <span class="glyphicon glyphicon-edit"></span>
        </button>
    </div>
</div>
