<form class="box box-default"
      #categoryInitiateBox="ngForm"
      novalidate>
  <!-- Loading overlay -->
  <div class="overlay"
       *ngIf="bIsBusy">
    <i class="fa fa-refresh fa-spin"></i>
  </div>
  <div class="box-header">
    <b class="fa fa-folder"></b> <span>Create a category</span>
  </div>
  <div class="box-body">
    <div class="form-group">
      <label>Category name</label>
      <input name="categoryName"
             #categoryName="ngModel"
             class="form-control"
             [(ngModel)]="initiator.name"
             placeholder="Please enter category name"
             [class.disabled]="isBusy"
             autofocus="autofocus"

             required/>

      <div>
        <ul class="validation-summary">
          <li *ngIf="!categoryName.pristine && categoryName.hasError('required')">Category name is required</li>
        </ul>
      </div>
    </div>

  </div>
  <div class="box-footer">
    <div class="text-center">
      <button class="btn btn-primary btn-flat"
              [disabled]="!categoryInitiateBox.valid"
              (click)="eClickConfirm.emit(initiator)">
        <span class="fa fa-check"></span>
      </button>
      <button class="btn btn-default btn-flat"
              (click)="eClickCancel.emit()">
        <span class="fa fa-times"></span>
      </button>
    </div>
  </div>
</form>

