<!-- Account search box -->
<div class="row">
    <div class="col-lg-12">
        <account-search-box [conditions]="conditions"
                            [is-loading]="isLoading"
                            (search)="clickSearch()"></account-search-box>
    </div>
</div>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation"
        class="active disabled" *ngFor="let item of accountStatusesSummary">
        <a href="javascript:void(0);">{{item.status}}</a></li>
</ul>

<!-- Pagination section -->
<div class="row"
     *ngIf="isAccountSearchResultAvailable()">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="searchResult.total"
                        [itemsPerPage]="conditions.pagination.records"
                        [(ngModel)]="conditions.pagination.index"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"
                        [disabled]="isLoading"></pagination>
        </div>
    </div>
</div>

<!-- Content container -->
<div class="row"
     *ngIf="isAccountSearchResultAvailable()">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="isLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-body">

                <table class="table table-responsive table-striped table-condensed table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Email</th>
                        <th>Nickname</th>
                        <th>Status</th>
                        <th>Joined</th>
                        <th>Last modified</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let account of searchResult.records; let i = index">
                        <td>{{(clientCommonService.findRecordStartIndex(conditions.pagination.index,
                            conditions.pagination.records, true) + i + 1)}}
                        </td>
                        <td>
                            <a href="javascript:void(0);"
                               (click)="clickChangeAccountInfo(account, changeAccountInfoModal)">{{account.email}}</a>
                        </td>
                        <td>{{account.nickname}}</td>
                        <td>
                            <b [class.text-danger]="account.status == accountStatuses.Disabled"
                               [class.text-warning]="account.status == accountStatuses.Pending"
                               [class.text-primary]="account.status == accountStatuses.Active">
                                {{clientCommonService.findAccountStatusDisplay(account.status)}}
                            </b>
                        </td>
                        <td>
                            {{ clientTimeService.findUnixTime(account.joined) | amDateFormat: 'YYYY-MM-DD'}}
                        </td>
                        <td>
                            <span *ngIf="account.lastModified != null">
                                {{clientTimeService.findUnixTime(account.joined) | amDateFormat: 'YYYY-MM-DD'}}
                            </span>

                            <span *ngIf="account.lastModified == null">
                                N/A
                            </span>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Pagination section -->
<div class="row"
     *ngIf="isAccountSearchResultAvailable()">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="searchResult.total"
                        [itemsPerPage]="conditions.pagination.records"
                        [(ngModel)]="conditions.pagination.index"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"
                        [disabled]="isLoading"></pagination>
        </div>
    </div>
</div>

<!-- Change account information modal dialog -->
<div #changeAccountInfoModal="bs-modal"
     bsModal
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     (onHide)="selectedAccount = null">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Change account detail information</span>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="selectedAccount != null">

                    <!-- Account nickname -->
                    <label>Nickname</label>
                    <input class="form-control"
                           [(ngModel)]="selectedAccount.nickname"/>

                    <!-- Account status -->
                    <label>Status</label>
                    <select class="form-control"
                            [(ngModel)]="selectedAccount.status">
                        <option *ngFor="let key of clientConfigurationService.accountStatusSelections.keys()"
                                [value]="clientConfigurationService.accountStatusSelections.item(key)">{{key}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-flat btn-primary"
                            (click)="clickConfirmChangeAccountDetail()">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>