<link rel="stylesheet" href="./src/styles/shared.css"/>

<div class="account-login-box-container col-lg-6 col-md-10 col-sm-10 col-xs-12 col-lg-push-3 col-md-push-1 col-sm-push-1 col-xs-push-0">
    <form #loginPanel="ngForm"
          class="box box-primary"
          novalidate

          (submit)="clickLogin($event)">

        <!--Login box overlay. This will be displayed when component is busy-->
        <div class="overlay"
             *ngIf="isBusy">
            <i class="fa fa-refresh fa-spin"></i>
        </div>

        <!-- Title -->
        <div class="box-header">
            <span class="fa fa-sign-in"></span>
            <b>Login</b>
        </div>

        <!-- Body -->
        <div class="box-body">
            <!-- Email -->
            <div class="form-group has-feedback">
                <input #email="ngModel"
                       name="email"
                       type="email"
                       class="form-control"
                       placeholder="Email"
                       autofocus="true"
                       [(ngModel)]="loginViewModel.email"
                       [readonly]="isLoading"

                       required="required"
                       maxlength="128"
                       pattern="^\w+([-+.']\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

                <!-- Email validation messages -->
                <div class="validation-summary"
                     *ngIf="!email.valid && email.dirty">
                    <ul>
                        <li *ngIf="email.hasError('required')">Email is required.</li>
                        <li *ngIf="email.hasError('pattern')">Email format is invalid.</li>
                    </ul>
                </div>
            </div>

            <!-- Password -->
            <div class="form-group has-feedback">
                <input #password="ngModel"
                       name="password"
                       type="password"
                       class="form-control"
                       placeholder="Password"
                       [readonly]="isLoading"
                       [(ngModel)]="loginViewModel.password"

                       required="required"
                       minlength="6"
                       maxlength="16"
                       pattern="^[A-Za-z0-9!@#$%^&*]*$">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>

                <div class="validation-summary"
                     *ngIf="!password.valid && password.dirty">
                    <ul>
                        <li *ngIf="password.hasError('required')">Password is required.</li>
                        <li *ngIf="password.hasError('pattern')">Password format is invalid.</li>
                    </ul>
                </div>
            </div>

            <!-- Forgot password -->
            <div class="form-group">
                <a href="/forgot-password">I forgot my password</a><br>
            </div>
        </div>

        <!-- Footer -->
        <div class="box-footer">
            <!-- Login button -->
            <input type="submit"
                   class="btn btn-primary btn-block btn-flat"
                   [disabled]="!loginPanel.valid || isLoading"
                   value="Sign In">
        </div>
    </form>
</div>