<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="javascript:void(0);">
      <b>Submit password</b>
    </a>
  </div>

  <form #initPasswordSubmissionBox="ngForm"
        class="register-box-body"
        (submit)="clickSubmitPassword($event)">
    <p class="login-box-msg">Change account password</p>

    <!--Email address-->
    <div class="form-group has-feedback">
      <input #email="ngModel"
             name="email"
             [(ngModel)]="information.email"
             type="email"
             class="form-control"
             placeholder="Email"

             required>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

      <!-- Validation messages -->
      <div class="validation-summary"
           *ngIf="!email.valid && email.dirty">
        <ul>
          <li *ngIf="email.hasError('required')">Email is required.</li>
          <li *ngIf="email.hasError('pattern')">Email format is invalid.</li>
        </ul>
      </div>
    </div>

    <!--Password-->
    <div class="form-group has-feedback">
      <input #password="ngModel"
             name="password"
             type="password"
             [(ngModel)]="information.password"
             class="form-control"
             placeholder="Password"

             required>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>

      <!-- Validation messages -->
      <div class="validation-summary"
           *ngIf="!password.valid && password.dirty">
        <ul>
          <li *ngIf="password.hasError('required')">Password is required.</li>
          <li *ngIf="password.hasError('pattern')">Password format is invalid.</li>
        </ul>
      </div>
    </div>

    <!--Submit password token-->
    <div class="form-group has-feedback">
      <input #token="ngModel"
             [(ngModel)]="information.token"
             name="token"
             type="text"
             class="form-control"
             placeholder="Change password token"

             required>
      <span class="fa fa-id-card form-control-feedback"></span>

      <!-- Validation messages -->
      <div class="validation-summary"
           *ngIf="!token.valid && token.dirty">
        <ul>
          <li *ngIf="token.hasError('required')">Token is required.</li>
          <li *ngIf="token.hasError('pattern')">Token format is invalid.</li>
        </ul>
      </div>
    </div>

    <!--Button panel-->
    <div class="row">
      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <button type="submit"
                  class="btn btn-primary btn-block btn-flat"
                  [disabled]="bIsBusy || !initPasswordSubmissionBox.valid">
            <span>Submit</span>
          </button>
        </div>
      </div>

      <div class="col-sm-6 col-xs-12">
        <div class="form-group">
          <button class="btn btn-default btn-block btn-flat"
                  [disabled]="bIsBusy"
                  routerLink="/">
            <span>Back</span>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

