<body class="hold-transition skin-black-light layout-boxed sidebar-collapse sidebar-mini">
<div class="wrapper">

  <!--Render horizontal navigation bar-->
  <navigation-bar></navigation-bar>

  <!-- Left side column. contains the logo and sidebar -->
  <side-bar></side-bar>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Account
        <small>Management</small>
      </h1>
    </section>

    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </div>

</div>
</body>
