<div class="row">
    <div class="col-lg-12">
        <account-find-box [conditions]="_findAccountConditions"
                          [isLoading]="_isLoading"></account-find-box>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="_isLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-body">
                <!-- List of categories -->
                <div class="col-lg-4" *ngFor="let account of _findAccountsResult.accounts">
                    <account-detail-box [account]="account"></account-detail-box>
                </div>
            </div>
        </div>
    </div>
</div>