<!-- Account search box -->
<div class="row">
    <div class="col-lg-12">
        <account-find-box [conditions]="conditions"
                          [isLoading]="isLoading"
                          (search)="clickSearch()"></account-find-box>
    </div>
</div>

<!-- Pagination section -->
<div class="row"
     *ngIf="isAccountSearchResultAvailable()">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="findAccountsResult.total"
                        [itemsPerPage]="conditions.pagination.records"
                        [(ngModel)]="conditions.pagination.index"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"
                        [disabled]="isLoading"></pagination>
        </div>
    </div>
</div>

<!-- Content container -->
<div class="row"
     *ngIf="isAccountSearchResultAvailable()">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="isLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-body">
                <!-- List of accounts -->
                <div class="col-lg-4"
                     *ngFor="let account of findAccountsResult.accounts">
                    <account-detail-box [account]="account"
                                        (clickChangeAccountInfo)="clickChangeAccountInfo(account, changeAccountInfoModal)"></account-detail-box>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Pagination section -->
<div class="row"
     *ngIf="isAccountSearchResultAvailable()">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="findAccountsResult.total"
                        [itemsPerPage]="conditions.pagination.records"
                        [(ngModel)]="conditions.pagination.index"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"
                        [disabled]="isLoading"></pagination>
        </div>
    </div>
</div>

<!-- Change account information modal dialog -->
<div bsModal
     #changeAccountInfoModal="bs-modal"
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     (onHide)="selectedAccount = null">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <span>Change account detail information</span>
            </div>
            <div class="modal-body">
                <div class="form-group" *ngIf="selectedAccount != null">

                    <!-- Account nickname -->
                    <label>Nickname</label>
                    <input class="form-control"
                           [(ngModel)]="selectedAccount.nickname"/>

                    <!-- Account status -->
                    <label>Status</label>
                    <select class="form-control"
                            [(ngModel)]="selectedAccount.status">
                        <option *ngFor="let key of clientConfigurationService.accountStatusSelections.keys()"
                                [value]="clientConfigurationService.accountStatusSelections.item(key)">{{key}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <button class="btn btn-flat btn-primary"
                            (click)="clickConfirmChangeAccountDetail(changeAccountInfoModal)">
                        <span class="glyphicon glyphicon-check"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>