<div class="row">
    <div class="col-lg-12">
        <account-find-box [conditions]="_findAccountConditions"
                          [isLoading]="_isLoading"></account-find-box>
    </div>
</div>

<!-- Pagination section -->
<div class="row"
     *ngIf="(_findAccountsResult != null && _findAccountsResult.total > 0 && !_isLoading)">
    <div class="col-lg-12">
        <div class="text-center">
            <pagination [totalItems]="_findAccountsResult.total"
                        [itemsPerPage]="_findAccountConditions.pagination.records"
                        [(ngModel)]="_findAccountConditions.pagination.index"
                        [rotate]="clientConfigurationService.ngPaginationSettings.rotate"
                        [firstText]="clientConfigurationService.ngPaginationSettings.firstText"
                        [previousText]="clientConfigurationService.ngPaginationSettings.previousText"
                        [nextText]="clientConfigurationService.ngPaginationSettings.nextText"
                        [lastText]="clientConfigurationService.ngPaginationSettings.lastText"
                        (pageChanged)="clickPageChange($event)"></pagination>
        </div>
    </div>
</div>

<!-- Content container -->
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="_isLoading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-body">
                <!-- List of categories -->
                <div class="col-lg-4" *ngFor="let account of _findAccountsResult.accounts">
                    <account-detail-box [account]="account"></account-detail-box>
                </div>
            </div>
        </div>
    </div>
</div>