<div class="box box-info">
  <div class="box-header with-border">
    <span><b class="glyphicon glyphicon-search" aria-hidden="true"></b> Profile information</span>
    <div class="box-tools pull-right">
      <button type="button"
              class="btn btn-box-tool"
              (click)="eClose.emit()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  <div class="box-body">
    <!-- Loading overlay -->
    <div class="overlay"
         *ngIf="isBusy">
      <i class="fa fa-refresh fa-spin"></i>
    </div>
    <!-- Avatar -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center"
         *ngIf="account.photoRelativeUrl != null && account.photoRelativeUrl.length > 0">
      <img [src]="account.photoRelativeUrl"
           class="img-responsive img-thumbnail"
           alt="Account profile picture"/>
    </div>

    <!-- Information -->
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <!-- Email -->
      <div class="row">
        <div class="form-group">
          <label>Email</label>
          <div class="form-control"
               readonly>
            {{account.email}}
          </div>
        </div>
      </div>

      <!--Nickname-->
      <div class="row">
        <div class="form-group">
          <label>Nickname</label>
          <input class="form-control"
                 [disabled]="bIsReadOnly"
                 [(ngModel)]="account.nickname">
        </div>
      </div>

      <!--Status-->
      <div class="row">
        <div class="form-group">
          <label>Status</label>
          <select class="form-control"
                  [(ngModel)]="account.status"
                  [disabled]="bIsReadOnly">
            <option *ngFor="let item of accountStatuses"
                    [value]="item.value">{{item.key}}
            </option>
          </select>
        </div>
      </div>

      <!--Joined time-->
      <div class="row">
        <div class="form-group">
          <label>Joined time</label>
          <div class="form-control" readonly>
            {{account.joinedTime | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}
          </div>
        </div>
      </div>

      <!--Last modified time-->
      <div class="row"
           *ngIf="account.lastModified != null">
        <div class="form-group">
          <label>Last modified time</label>
          <div class="form-control" readonly>
            {{account.lastModifiedTime | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box-footer">
    <div class="text-center">
      <button class="btn btn-primary btn-flat"
              (click)="eConfirm.emit()">
        <span class="glyphicon glyphicon-ok"></span>
      </button>
    </div>
  </div>
</div>
