<!-- Avatar -->
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
     *ngIf="account.photoRelativeUrl != null && account.photoRelativeUrl.length > 0">
    <img [src]="account.photoRelativeUrl"
         class="img-responsive img-thumbnail"
         alt="Account profile picture"/>
</div>

<!-- Information -->
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <!-- Email -->
    <div class="row">
        <div class="form-group">
            <label>Email</label>
            <div class="form-control"
                 readonly>
                {{account.email}}
            </div>
        </div>
    </div>

    <!--Nickname-->
    <div class="row">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control"
                   [(ngModel)]="account.nickname">
        </div>
    </div>

    <!--Status-->
    <div class="row">
        <div class="form-group">
            <label>Status</label>
            <select class="form-control"
                    [(ngModel)]="account.status">
                <option *ngFor="let item of clientCommonService.getAccountStatuses(null)"
                        [value]="item.value">{{item.key}}</option>
            </select>
        </div>
    </div>

    <!--Joined time-->
    <div class="row">
        <div class="form-group">
            <label>Joined</label>
            <div class="form-control" readonly>
                {{clientTimeService.getUtc(account.joined) | amDateFormat: 'YYYY-MM-DD'}}
            </div>
        </div>
    </div>

    <!--Last modified time-->
    <div class="row"
         *ngIf="account.lastModified != null">
        <div class="form-group">
            <label>Last modified</label>
            <div class="form-control" readonly>
                {{clientTimeService.getUtc(account.lastModified) | amDateFormat: 'YYYY-MM-DD'}}
            </div>
        </div>
    </div>
</div>
