<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="javascript:void(0);">
      <b>Forgot password</b>
    </a>
  </div>

  <form #getPasswordBox="ngForm"
        class="register-box-body"
        novalidate

        (submit)="clickRequestPassword($event)">

    <p class="login-box-msg">Request a new password</p>

    <!--Email address-->
    <div class="form-group has-feedback">
      <input #email="ngModel"
             type="email"
             name="email"
             class="form-control"
             placeholder="Email"
             [disabled]="bIsBusy"
             autofocus="autofocus"
             [(ngModel)]="account.email"

             required="required"
             [maxlength]="128"
             [pattern]="constraintService.patternEmail">
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>

      <div class="validation-summary"
           *ngIf="!email.valid && email.dirty">
        <ul>
          <li *ngIf="email.hasError('required')">Email is required.</li>
          <li *ngIf="email.hasError('pattern')">Email format is invalid.</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <!--Register button-->
      <div class="col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-primary btn-block btn-flat"
                [disabled]="bIsBusy || !getPasswordBox.valid">
          Submit
        </button>
      </div>

      <!--Back button-->
      <div class="col-sm-6 col-xs-12">
        <button class="btn btn-default btn-block btn-flat"
                [disabled]="bIsBusy"
                routerLink="/">
          Back
        </button>
      </div>
    </div>

    <div class="row">
      <button class="btn btn-link"
              [disabled]="bIsBusy" routerLink="/submit-password">
        <span>Submit a new password</span>
      </button>
    </div>
  </form>
</div>
