<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Account
    <small>management</small>
  </h1>
</section>

<section class="content">
  <!-- Content container -->
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-default">
        <!-- Loading overlay -->
        <div class="overlay"
             *ngIf="isBusy">
          <i class="fa fa-refresh fa-spin"></i>
        </div>

        <div class="box-header with-border">
        <span>
          <b class="fa fa-user-circle-o" aria-hidden="true"></b> Accounts list
        </span>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool"
                    (click)="accountSearchBoxContainer.show()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>

        <div class="box-body">
          <p-dataTable [value]="searchResult.records"
                       [paginator]="false"
                       [responsive]="true">
            <p-column field="email" header="Email">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <a href="javascript:void(0)" (click)="clickChangeAccountInfo(data)">
                  {{data[col.field]}}
                </a>
              </ng-template>
            </p-column>
            <p-column field="nickname" header="Nickname"></p-column>
            <p-column field="role" header="Role"></p-column>
            <p-column field="joinedTime" header="Joined time">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span>{{data[col.field] | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
              </ng-template>
            </p-column>
            <p-column field="lastModifiedTime" header="Last modified time">
              <ng-template let-col let-data="rowData" pTemplate="body">
                <span *ngIf="col.field && data[col.field]">{{data[col.field] | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</span>
                <span *ngIf="!(col.field && data[col.field])">Not available</span>
              </ng-template>
            </p-column>
          </p-dataTable>
        </div>

        <div class="box-footer">
          <div class="col-lg-12">
            <div class="text-center">
              <ngx-ordinary-pager [options]="configurationService.getPagerOptions()"
                                  [page]="conditions.pagination.page"
                                  [total-items]="searchResult.total"
                                  (select-page)="selectPage($event)">
              </ngx-ordinary-pager>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--Search accounts modal-->
<div #accountSearchBoxContainer="bs-modal"
     bsModal
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     [config]="{backdrop: 'static', keyboard: false}">

  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <account-search-box [conditions]="conditions"
                          [is-loading]="isBusy"
                          (search)="clickSearch($event)"
                          (close)="accountSearchBoxContainer.hide()">
      </account-search-box>
    </div>
  </div>
</div>

<!-- Change account information modal dialog -->
<div #profileBoxContainer="bs-modal"
     bsModal
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     [config]="{backdrop: 'static', keyboard: false}">

  <div class="modal-dialog">
    <div class="modal-content">
      <account-profile-box #profileBox="account-profile-box"
                           (click-close)="profileBoxContainer.hide()"
                           (click-confirm)="clickConfirmAccountInfo()">
      </account-profile-box>
    </div>
  </div>
</div>
