<!-- Account search box -->
<form name="account-search"
      class="row"
      novalidate
      (submit)="clickSearch()">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="isBusy">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-header with-border">
                <span>
                    <b class="glyphicon glyphicon-search" aria-hidden="true"></b> Search accounts
                </span>
                <button type="button"
                        class="btn btn-box-tool pull-right" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
            </div>
            <div class="box-body">
                <account-search-box [conditions]="conditions"
                                    [is-loading]="isBusy"
                                    (search)="clickSearch()">
                </account-search-box>
            </div>
            <div class="box-footer">
                <div class="text-center">
                    <input type="submit"
                           class="btn btn-primary btn-flat"
                           value="Search">
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Content container -->
<div class="row">
    <div class="col-lg-12">
        <div class="box box-default">
            <!-- Loading overlay -->
            <div class="overlay"
                 *ngIf="isBusy">
                <i class="fa fa-refresh fa-spin"></i>
            </div>

            <div class="box-header with-border">
                <span>
                    <b class="fa fa-user-circle-o" aria-hidden="true"></b> Accounts list
                </span>
                <div class="box-tools pull-right">
                    <div class="btn-group">
                        <button type="button"
                                class="btn btn-box-tool dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="true">
                            <i class="fa fa-wrench"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Create an account</a>
                            </li>
                        </ul>
                    </div>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="box-body">
                <!--Accounts management table-->
                <table class="table table-responsive table-condensed">
                    <thead>
                    <tr>
                        <th class="text-center">Email</th>
                        <th class="text-center">Nickname</th>
                        <th class="text-center">Joined</th>
                        <th class="text-center">Last modified</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let account of searchResult.records; let i = index">
                        <td class="text-center">
                            <a href="javascript:void(0);"
                               (click)="clickChangeAccountInfo(account)">{{account.email}}</a>
                        </td>
                        <td class="text-center"
                            [class.text-danger]="account.status == AccountStatuses.Disabled"
                            [class.text-warning]="account.status == AccountStatuses.Pending">{{account.nickname}}</td>
                        <td class="text-center">
                            {{ clientTimeService.getUtc(account.joined) | amDateFormat: 'YYYY-MM-DD'}}
                        </td>
                        <td class="text-center">
                            <span *ngIf="account.lastModified != null">
                                {{clientTimeService.getUtc(account.joined) | amDateFormat: 'YYYY-MM-DD'}}
                            </span>

                            <span *ngIf="account.lastModified == null">
                                N/A
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="box-footer">
                <div class="col-lg-12">
                    <div class="text-center">
                        <ngx-numeric-paginator [options]="clientCommonService.getPaginationOptions()"
                                               [page]="conditions.pagination.page"
                                               [total-items]="searchResult.total"
                                               (select-page)="selectPage($event)">
                        </ngx-numeric-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Change account information modal dialog -->
<div #profileBoxContainer="bs-modal"
     bsModal
     class="modal fade"
     tabindex="-1"
     role="dialog"
     aria-hidden="true"
     [config]="{backdrop: 'static', keyboard: false}">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="box box-default">
                <!-- Loading overlay -->
                <div class="overlay"
                     *ngIf="isBusy">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>

                <div class="box-header with-border">
                    <span><b class="glyphicon glyphicon-search" aria-hidden="true"></b> Profile information</span>
                </div>
                <div class="box-body">
                    <account-profile-box #profileBox="account-profile-box"></account-profile-box>
                </div>
                <div class="box-footer">
                    <div class="text-center">
                        <button class="btn btn-primary btn-flat"
                                (click)="clickConfirmAccountInfo()">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button class="btn btn-default btn-flat"
                                (click)="profileBoxContainer.hide()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>