<div class="box box-danger">
  <div class="box-body">
    <span class="text-danger"
          *ngIf="category">Are you sure to delete <b>{{category.name}}</b></span> ?
  </div>
  <div class="box-footer">
    <div class="text-center">
      <button class="btn btn-danger btn-flat"
              (click)="eClickConfirm.emit(category)">
        <span class="fa fa-check"></span>
      </button>
      <button class="btn btn-default btn-flat"
              (click)="eClickCancel.emit(category)">
        <span class="fa fa-times"></span>
      </button>
    </div>
  </div>
</div>
