<div class="wrapper">
    <!-- Top horizontal navigation bar -->
    <navigation-bar></navigation-bar>

    <!-- Sidebar -->
    <sidebar></sidebar>

    <!-- Main page content -->
    <div class="content-wrapper">
        <!-- Content header -->
        <section class="content-header">
            <h1>
                Dashboard
            </h1>
        </section>

        <!-- Application main content -->
        <section class="content">
            <!--<account-management></account-management>-->
            <!--<category-management></category-management>-->

            <!-- Render routed views -->
            <router-outlet></router-outlet>
        </section>
    </div>

    <!-- Main footer -->
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 2.3.7
        </div>
        <strong>Copyright &copy; 2014-2016 <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights
        reserved.
    </footer>
</div>