<template #accountTypeaheadTemplate
          let-model="item"
          let-index="index">
    <h5>{{model.email}}</h5>
</template>

<div class="box box-default"
     [formGroup]="commentReportFindBox">

    <!-- Overlay which is used for blocking box. -->
    <div class="overlay"
         *ngIf="isBusy">
        <i class="fa fa-refresh fa-spin"></i>
    </div>

    <div class="box-header">
        <span class="glyphicon glyphicon-search"></span>
        <span> Comment reports search</span>

        <button type="button"
                class="btn btn-box-tool pull-right"
                data-widget="collapse">
            <i class="fa fa-minus"></i>
        </button>
    </div>

    <div class="box-body">

        <div class="row">

            <!-- 1st Column -->
            <div class="col-lg-6">

                <!-- Comment owner -->
                <div class="form-group">
                    <label>Comment owner</label>

                    <input formControlName="commentOwner"
                           [typeahead]="commentOwnersList"
                           [typeaheadOptionField]="'email'"
                           [typeaheadItemTemplate]="accountTypeaheadTemplate"
                           [typeaheadWaitMs]="400"
                           class="form-control">
                </div>

                <!-- Comment reporter -->
                <div class="form-group">
                    <label>Reporter</label>

                    <input formControlName="commentReporter"
                           [typeahead]="commentReportersList"
                           [typeaheadOptionField]="'email'"
                           [typeaheadItemTemplate]="accountTypeaheadTemplate"
                           [typeaheadWaitMs]="400"
                           class="form-control">
                </div>

                <!-- Pagination -->
                <div class="form-group"
                     formGroupName="pagination">
                    <label>Records</label>
                    <select class="form-control"
                            formControlName="records"
                            [(ngModel)]="conditions.pagination.records">
                        <option *ngFor="let item of clientConfigurationService.pageRecords; let i = index"
                                [value]="clientConfigurationService.pageRecords[i]">
                            {{clientConfigurationService.pageRecords[i]}}
                        </option>
                    </select>
                </div>
            </div>

            <!-- 2nd Column -->
            <div class="col-lg-6">

                <!-- Comment body -->
                <div class="row form-group"
                     formGroupName="body">

                    <div class="col-lg-12">
                        <label>Comment body</label>
                    </div>

                    <div class="col-lg-6">
                        <select class="form-control"
                                formControlName="mode"
                                [(ngModel)]="conditions.reason.mode">
                            <option *ngFor="let key of clientConfigurationService.textSearchModes.keys()"
                                    [value]="clientConfigurationService.textSearchModes.item(key)">
                                {{key}}
                            </option>
                        </select>
                    </div>

                    <div class="col-lg-6">
                        <input class="form-control"
                               formControlName="value"/>
                    </div>
                </div>

                <!-- Report reason -->
                <div class="row form-group"
                     formGroupName="reason">

                    <div class="col-lg-12">
                        <label>Report reason</label>
                    </div>

                    <div class="col-lg-6">
                        <select class="form-control"
                                formControlName="mode"
                                [(ngModel)]="conditions.reason.mode">
                            <option *ngFor="let key of clientConfigurationService.textSearchModes.keys()"
                                    [value]="clientConfigurationService.textSearchModes.item(key)">
                                {{key}}
                            </option>
                        </select>
                    </div>

                    <div class="col-lg-6">
                        <input class="form-control"
                               formControlName="value"/>
                    </div>
                </div>

                <!-- Created -->
                <div class="row form-group"
                     formGroupName="created">
                    <div class="col-lg-12">
                        <label>Created</label>
                    </div>

                    <div class="col-lg-6">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-hourglass-start" aria-hidden="true"></i>
                                </span>
                            <input class="form-control"
                                   type="datetime"
                                   formControlName="from"/>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-hourglass-end" aria-hidden="true"></i>
                                </span>
                            <input class="form-control"
                                   type="datetime"
                                   formControlName="to"/>
                        </div>
                    </div>
                </div>

                <!-- Sorting -->
                <div class="row form-group">
                    <div class="col-lg-12">
                        <label>Sorting</label>
                    </div>

                    <div class="col-lg-6">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-folder" aria-hidden="true"></i>
                                </span>

                            <select class="form-control"
                                    formControlName="sort"
                                    [(ngModel)]="conditions.sort">
                                <option *ngFor="let key of clientConfigurationService.commentReportSortProperties.keys()"
                                        [value]="clientConfigurationService.commentReportSortProperties.item(key)">
                                    {{key}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-sort" aria-hidden="true"></i>
                                </span>

                            <select class="form-control"
                                    formControlName="direction"
                                    [(ngModel)]="conditions.direction">
                                <option *ngFor="let key of clientConfigurationService.sortDirections.keys()"
                                        [value]="clientConfigurationService.sortDirections.item(key)">
                                    {{key}}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="box-footer">
        <button class="btn btn-primary btn-flat"
                (click)="clickSearch()">
            <span class="glyphicon glyphicon-search"></span>
            <span>Search</span>
        </button>
    </div>
</div>