/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Extra small devices (tablets, 768px and up) */
@media (max-width: 767px) {
    .account-login-box-container,
    .account-forgot-password-container{
        margin-top: 50px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .account-login-box-container,
    .account-forgot-password-container {
        margin-top: 50px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .account-login-box-container,
    .account-forgot-password-container {
        margin-top: 80px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .account-login-box-container,
    .account-forgot-password-container {
        margin-top: 120px;
    }
}